// // APPROACH I ======> add individual plugins one by one
// {
//     "plugins": ["@babel/plugin-transform-arrow-functions"]
// }

// APPROACH II =======> add official presets;     
// { "presets": ["@babel/preset-env"] }


// Angular, Node, postgres, AWS, MongoDb, docker, jenkins, babel, webpack

// APPROACH III ===> add multiple official presets (default)
// {
//     "presets": [
//         ["@babel/preset-env"],
//         ["@babel/typescript"]
//     ]
// }

// APPROACH IV ===>  add multiple official presets (customised)

{
    "presets": [
        [
            "@babel/preset-env", 
            { 
                "useBuiltIns": "entry",
                "corejs": "3.22",
                "modules": "commonjs"
            } 
        ],
        ["@babel/typescript"]
    ],
    "plugins": [
        ["babel-plugin-console-source"]
    ]
}

