// // APPROACH I ======> add individual plugins one by one
// {
//     "plugins": ["@babel/plugin-transform-arrow-functions"]
// }

// APPROACH II =======> add official presets;     
// { "presets": ["@babel/preset-env"] }


// APPROACH III ===> add multiple official presets

{
    "presets": [
        ["@babel/preset-env"],
        ["@babel/typescript"]
    ]
}

