# this .npmrc is project specific
# all npm related stuff ----> happen as per these configurations
    # npm login, npm publish, auth token & stuff
# this npmrc file must be located at root level
    # sibling of package.json (or) node_modules folder

; apart from # (hash) we also can use ; (semi-colon) for making comments

######################################## UNCOMMENT THESE AND SEE THE MAGIC
# @myorg:registry=https://somewhere-else.com/myorg
# @another:registry=https://somewhere-else.com/another
# //registry.npmjs.org/:_authToken=MYTOKEN
# ; would apply to both @myorg and @another
# ; //somewhere-else.com/:_authToken=MYTOKEN
# ; would apply only to @myorg
# //somewhere-else.com/myorg/:_authToken=MYTOKEN1
# ; would apply only to @another
# //somewhere-else.com/another/:_authToken=MYTOKEN2



# Use this to publish ... you know what to use @ _authToken
# npm publish --registry "https://registry.npmjs.org"
    # update version in package.json (bcoz ===> You cannot publish over the previously published versions)


# Unpublish a single version
    # npm unpublish gopal612-tsLib23@1.0.0
    
# Unpublishing a package (all versions)
    # npm unpublish gopal612-tsLib23 -f         Command Line
    # using website npmjs.com
    # Once a package is unpublished, republishing under the same name is blocked for 24 hours


@gopal612:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=npm_sssssssssssssssssssssssssss